@{
    ViewBag.Title = "Home";
}



<div class="row" id="entrance">
    <div class="col-md-6 text-center center-block">
        <p></p>
        <p></p>
        <p></p>
        <img src="~/Images/coffee.jpg" class="img-responsive" />
    </div>

    <div class="container col-md-6">
        <h1>Welcome to the Coffee Shop!</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Menu</div>
            <div class="panel-body">Checkout our specials for <strong>@DateTime.Now.DayOfWeek!</strong>
                    <dl>
                        <dt>@Html.ActionLink("Coffee", "ItemList")</dt>
                        <dd>- Black hot drink $2</dd>
                        <dt>@Html.ActionLink("Milk", "ItemList")</dt>
                        <dd>- White cold drink $1.50</dd>
                        <dt>@Html.ActionLink("Tea", "ItemList")</dt>
                        <dd>- Earl Grey $2</dd>

                        @*<div class="pull-right">
                            <dt>@Html.ActionLink("Tea", "ItemList")</dt>
                            <dd>- Earl Grey</dd>
                            <dt>@Html.ActionLink("Tea", "ItemList")</dt>
                            <dd>- Earl Grey</dd>
                            <dt>@Html.ActionLink("Tea", "ItemList")</dt>
                            <dd>- Earl Grey</dd>
                        </div>*@
                       
                    </dl>
            </div>
        </div>
    </div>
</div>

